header {
    width: 700px;
    margin: auto;
    text-align: left;
    font-size : 12px;
}


#initial-message {
    margin-top : 10%;
    font-size: 1.2em;    
    text-align: left;
    border:1px solid rgb(183, 218, 148);
    background: linear-gradient(90deg, 
    rgb(240, 255, 240) 0%,   /* Vert très pâle, presque blanc */
    rgb(216, 253, 216) 25%,  /* Vert pâle, avec une teinte légère */
    rgb(200, 255, 200) 50%,  /* Vert clair mais encore doux */
    rgb(180, 255, 180) 75%,  /* Vert léger avec une teinte plus marquée */
    rgb(179, 244, 179) 100%
 /* Vert clair mais plus profond */
);
padding-top:0.1em;
padding-left:1em;  
}

#logo {    
    width: 15%;
    float : left;
    padding-right : 15px;
    padding-top : 15px;
}

#cse-title {
    margin: 0;                 /* Enlève les marges par défaut du titre */
    font-size: 2em;            /* Définit une taille de police plus grande pour le titre */
    text-align: center;        /* Centre le texte du titre (si nécessaire) */
    padding-top : 35px;
}


main {
    text-align: center;
    margin-top: 2em;
    visibility: hidden;
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #b7da94;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: block;
    text-align: center !important;
    padding: 20px;
    margin: 3em auto;
    display:none;
}

#wait-message {
    margin-top: 3em;
    visibility: hidden;
    font-style: italic;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

footer {
	width: 70%;
	max-width: 600px;
	margin: auto;
	font-size: 0.7em;
	text-align: center;
	padding-top: 0.2em;
	border-top: 1px solid #b7da94;
    visibility: visible;
}

footer a {
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 500px) {
	header {
		width: initial !important;
		max-width: initial !important;
	}
    main {
        font-size:1.2em;
        margin-top:1.5em;
    }
    button {
        display:block;
        margin: 1em auto;
    }
    label {
        display:block;
        margin-bottom:0.5em;
    }
    #wait-message {
        margin-top:0em;
    }
    footer a {
        display:inline-block;
    }
}



